.all-services {
	background: linear-gradient(
			to bottom,
			#5f12d0 20.91%,
			#504dc2 50.44%,
			#fff 50%,
			#fff 100%
		),
		#c4c4c4;
	padding: 0px 0px 85px 0px;
}

.all-services__header {
	padding: 100px 0px 70px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.all-services__title {
	max-width: 540px;
	color: #fff;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 146.28%;
}

.all-services__link {
	max-width: 200px;
	max-height: 45px;
	margin: 0px;
}

.all-services__works {
	display: flex;
	flex-direction: row;
	gap: 0px 30px;
	border-bottom: 1px solid #e0e0e0;
	padding: 0px 0px 85px 0px;
}

.all-services__item {
	max-width: 350px;
	max-height: 544px;
}

.all-services__item-title {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 30px 0px 30px 0px;
}

.all-services__item-description {
	color: #999;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 158.47%;
	margin: 0px 0px 30px 0px;
}

.all-services__item-link {
	color: #4985ff;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
}
